@import '../../../../styles/lib';

$menu-height: 90px;

:host {
  display: block;
  z-index: z-index(modal);

  > section {
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    height: $menu-height;
    padding: 0 10px;
    background-color: color(white);
    align-items: center;
    z-index: z-index(navbar);
    position: relative;
  }

  .logo {
    width: 85px;
    height: 85px;

    .logo-link {
      display: block;
      height: 100%;
      width: 100%;
      background-image: url(/assets/images/ma-logo.png);
      background-size: 70px 70px;
      background-position: center center;
      background-repeat: no-repeat;
  }
    }


  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex-grow: 1;

    li {
      padding: 0 18px;

      &.end-line {
        width: 1px;
        height: 24px;
        background-color: color(gray);
        padding: 0;
        margin: 0 10px;
      }
    }

    a {
      text-transform: uppercase;
      font-weight: bold;
      transition: color 0.3s ease 0s;
      font-family: $roboto;
      font-size: make-rem(17px);

      &:hover { color: color(orange); }
    }
  }

  .facebook-box {
    width: 60px;
    height: 24px;

    .facebook {
      background-image: url(/assets/images/icon-fb.png);
      display: block;
      width: 100%;
      height: 100%;
      background-size: 24px 48px;
      background-position: top center;
      background-repeat: no-repeat;
      transition: background-position 0.3s ease 0s;

      &:hover { background-position: bottom center; }
    }
  }

  .burger-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-image: url(/assets/images/icon-burger.png);
    background-size: 60px 60px;
    background-position: top left;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

}
