@import '../../../../styles/lib';

:host {
  @include flex-grid(2);
  margin: 80px auto 60px auto;
  max-width: $content-width;
  padding: 0 40px;

  @include tablet { margin: 50px 0; }
  @include tablet-small { padding: 0 20px; }

  .col {
    @include flex(column, flex-start, flex-start);
    @include tablet-small { width: 100%; }

    p {
      font-family: $roboto;
      padding: 10px 0;
      color: color(gray, 2);

      @include tablet-small { width: 100%; }
    }

    &.left {
      min-height: 700px;
      background-image: url(/assets/images/team.png);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 80%;

      @include laptop-small { min-height: 620px; }

      @include tablet-small { display: none; }
    }
  }
}
