@import '../../../../styles/lib';

:host {
  @include grid();

  > .banner {
    margin: 0;
    position: relative;

    @include phone { height: $banner-rwd-height; }

    img {
      width: 100%;
      object-fit: cover;
      max-height: $banner-height;

      @include tablet-small {
        height: $banner-rwd-height;
      }
    }

    .text-box {
      position: absolute;
      width: 100%;
      top: 0;
      padding: 0 $desktop-gap;
      @include flex(column, center, flex-start);
      height: 100%;
      background-color: rgba(255,255,255,0.7);

      @include tablet { padding: 0 $mobile-gap; }
    }

    .main-header {
      line-height: 1.1em;

      @include tablet {
        font-size: make-rem(50px);
      }
    }

    .subtitle {
      font-family: $roboto;
      color: color(gray, 2);
      width: 100%;
    }
  }

  .content {
    padding: 50px 0;

    @include phone { padding: 30px 0; }

    figure {
      width: 100%;
      margin: 0;
      padding: 30px 0;

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .font-h6 { padding-bottom: 20px; }

    p { font-family: $roboto;}
  }

  .see-also {
    padding: 50px $desktop-gap;
    background-color: color(gray, 5);

    @include tablet { padding: 50px $mobile-gap; }

    @include phone { padding: 30px $mobile-gap; }
  }

  &.clients {
    .items-box::ng-deep {
      @include flex-grid(3, 20px);
      @include tablet {
        @include flex-grid(2, 40px);

        > .col { margin-bottom: 30px; }
      }

      @include phone {@include flex-grid(1); }

      .col {
        border: 1px solid color(gray, 5);
      }
    }
  }

  &.news {
    .items-box::ng-deep {
      @include flex-grid(2, 40px);

      @include tablet {
        @include flex-grid(1);

        > .col { margin-bottom: 30px; }
      }

      .col {
        border: 1px solid color(gray, 5);
      }
    }
  }
}
