<figure class="banner wide-container">
  <img src="/assets/images/bg_article.jpg" alt="">
  <div class="text-box">
    <p class="font-h3 main-header">Nowa odsłona answear</p>
    <p class="font-text-small subtitle">bla bla bla</p>
  </div>
</figure>
<section class="container content">
  <div class="font-h6">Słowem wstępu</div>
  <p class="font-text-small">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
  <figure><img src="/assets/images/img_post.jpg" alt=""></figure>
</section>

<section class="wide-container see-also">
  <p class="font-h3 main-header">Zobacz również</p>
  <div class="items-box">
    <ng-content></ng-content>
  </div>
</section>
