<ma-items-view-box class="news">
    <ma-news-item class="col small-news" [path]="'2'"></ma-news-item>
    <ma-news-item class="col small-news" [path]="'3'"></ma-news-item>
    <ma-news-item class="col small-news" [path]="'4'"></ma-news-item>
    <ma-news-item class="col small-news" [path]="'5'"></ma-news-item>
</ma-items-view-box>
