<div class="container">
  <a [routerLink]="'/'" translate="homepage.header"></a>
  <ng-container *ngIf="breadcrumbs.length">
    <a *ngFor="let breadcrumb of breadcrumbs" [routerLink]="'/' + breadcrumb" translate="{{ breadcrumb }}.header"></a>
  </ng-container>
  <a *ngIf="!!currentTitle" [routerLink]="currentBreadcrumb" translate="{{ currentTitle }}.header"></a>
</div>
