@import '../../../../styles/lib';

:host {
  width: 100%;
  height: 60px;
  background-color: color(gray, 5);
  font-family: $roboto;
  @include grid();

  @include tablet { height: 40px; }

  .container {
    @include flex(row, flex-start, center);

    a {
      font-size: make-rem(14px);
      padding-right: 15px;
      text-transform: uppercase;
      color: color(gray, 2);

      &:not(:last-child) {
        &:after {
          content: '/';
          padding-left: 15px;
        }
      }



      &:hover {
        color: color(orange);

        &:after { color: color(gray, 2); }
      }
    }
  }
}
