<a [routerLink]="'/clients/' + path">
  <figure class="client-img-box">
    <img src="/assets/images/img_post.jpg" alt="">
   </figure>
   <div class="client-text-box">
     <p class="client-title font-h6">{{ path }}</p>
     <p class="client-aplication">E-commerce</p>
   </div>
</a>
