@import '../../../../styles/lib';

:host {
  width: 100%;
  display: flex;
  border: 1px solid color(gray, 5);
  transition: border-color 0.3s ease 0s;

  &:hover {
    border-color: color(orange);
  }

  > a {
    @include flex(column, flex-start, flex-start);

    figure {
      width: 100%;
      margin: 0;
    }

    .client-text-box {
      padding: 20px;

      .client-title {
        font-size: make-rem(28px);
      }

      .client-aplication {
        font-family: $raleway;
        color: color(gray);
        font-size: make-rem(16px);
        padding-top: 10px;
      }
    }
  }

}
