@import '../../../../styles/lib';

:host {
  width: 100%;
  height: 120px;
  background-color: color(gray, 5);
  @include grid();

  @include tablet { height: 80px; }

  > div {
    height: 100%;
    @include flex(row, flex-start, center);

    .btn {
      width: 200px;
      margin-right: 40px;
      cursor: pointer;
      background-color: color(white);
      color: color(gray, 2);
      border: 1px solid color(gray, 2);

      &:hover {
        border-color: color(orange);
      }
    }
  }
}
