<ma-main-nav id="top" [isScrollTop]="isScrollTop"></ma-main-nav>

<ma-breadcrumbs *ngIf="!isHome && !isTabletSmall"></ma-breadcrumbs>

<router-outlet #baseOutlet="outlet"></router-outlet>

<ma-contact></ma-contact>

<footer>
  <div class="font-text-very-small" translate="base.footer.text"></div>
  <div class="scroll-top" (click)="scrollTop('#top')"></div>

</footer>
