@import '../../../styles/lib';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  footer {
    padding-left: 20px;
    @include flex(row, space-between, center);

    .font-text-very-small { font-family: $roboto; }

    .scroll-top {
      width: 80px;
      height: 80px;
      background-color: color(orange);
      background-image: url(/assets/images/back-to-top-btn.png);
      background-position: center top;
      transition: background-position 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-position: center bottom;
      }
    }
  }
}
