@import '../../../../styles/lib';

:host {
  background-color: color(gray, 4);
  color: color(white);
  @include flex-grid(1);
  justify-content: center;
  padding: 80px 40px;

  @include tablet-small { padding: 50px 20px; }

  > .col {
    max-width: $content-width;

    .portfolio-box{
      @include flex-grid(5);
      justify-content: flex-start;

      > .col {
        @include tablet-small { width: calc(100% / 3); }
        @include phone { width: 50%; }
      }

      img {
        opacity: 0.7;
        height: 100%;
        width: 100%;
        transition: $transition;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
