<div class="col">
  <span class="font-h2 main-header" translate="portfolio.header"></span>
  <div class="portfolio-box">
    <figure class="col" *ngFor="let logo of portfolio">
        <img src="{{logo.path}}" alt="{{logo.alt}}" class="client-logo">
    </figure>
  </div>
</div>
