@import '../../../../styles/lib';


:host {
  @include flex(column, flex-start, flex-start);
  width: 100%;

  .slider {
    @include flex(row, flex-start, flex-start);
    position: relative;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;

    &::ng-deep > div {
      width: 100%;
      flex: 1 0 100%;
      will-change: transform;
      transition: $transition;

      p { margin: 10px 0; }
    }
  }

  .nav-box {
    @include flex(row, flex-start, center);
    width: 100%;

    &::ng-deep svg {
      path {
        fill: color(gray, 3);
      }
    }

    span {
      font-size: make-rem(20px);
      color: color(gray, 2);
      font-family: $roboto;
    }
    .arrow {
      @include flex(row, center, center);
      width: 40px;
      height: 34px;
      transition: $transition;
    }

    .left-arrow {
      margin-right: 15px;

      &:hover {
        transform: translateX(-25%);
      }
    }
    .right-arrow {
      margin-left: 15px;

      &:hover {
        transform: translateX(25%);
      }
    }

    .slide-counter { padding-bottom: 3px; }
  }
}
