<section class="slider">
  <ng-content select="[slider-item]"></ng-content>
</section>

<div class="nav-box">
  <div class="left-arrow arrow" [inlineSVG]="'/assets/svg/arrow-left.svg'" (click)="previousSlide()"></div>
  <div class="slide-counter">
    <span class="current-slide-counter">{{ currentSlide }}</span>
    <span> / {{ sliderLength }}</span>
  </div>
  <div class="right-arrow arrow" [inlineSVG]="'/assets/svg/arrow-right.svg'" (click)="nextSlide()"></div>
</div>
