<section class="banner wide-container">
  <div class="headers">
      <div class="font-h1" translate="news.header"></div>
      <div class="font-h3 orange" translate="news.subtitle"></div>
  </div>
  <ma-filter-belt></ma-filter-belt>
  <figure>
    <img src="/assets/images/paper-boy.png" alt="paper boy">
  </figure>
</section>
<section class="container">
  <ma-client-box class="col"></ma-client-box>
  <ma-client-box class="col"></ma-client-box>
  <ma-client-box class="col"></ma-client-box>
  <ma-client-box class="col"></ma-client-box>
  <ma-client-box class="col"></ma-client-box>
  <ma-client-box class="col"></ma-client-box>
  <ma-client-box class="col"></ma-client-box>
</section>

