@import '../../../styles/lib';

:host {
  @include grid();
  margin-bottom: 100px;

  @include tablet { margin-bottom: 50px; }

  .banner {
    display: flex;
    flex-direction: column;
    height: $banner-height;
    position: relative;
    overflow: hidden;

    @include tablet-small { height: $banner-rwd-height;; }

    figure {
      position: absolute;
      height: calc(#{$banner-height} - 30px);
      margin: 0;
      right: $desktop-gap;
      bottom: 0;

      @include laptop-small { right: -60px; }

      @include tablet-small { display: none; }
    }

    .headers {
      padding: 0 $desktop-gap;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include tablet { padding: $mobile-gap; }

      @include tablet-small { align-items: center; }

      .font-h1 {
        line-height: 1.2em;
        @include phone { font-size: make-rem(60px); }
      }

      .font-h3 { line-height: 1.2em; }
    }
  }

  .container {
    padding-top: 80px;
    @include flex-grid(3, 40px);

    @include tablet {
      padding-top: 50px;

      @include flex-grid(2, 30px);
    }

    @include phone {
      @include flex-grid(1);

      > .col { margin-bottom: 30px; }
    }
  }
}
