@import '../../../../styles/lib';

:host {
  @include flex-grid(2);
  height: 700px;

  @include tablet {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;

    .col { width: 100%; }
  }

  .col:first-of-type {
    background-color: color(black);
    color: color(white);
    @include flex(row, flex-end, flex-start);

    section {
      @include flex(column, flex-start, flex-start);
      flex: 1;
      max-width: $content-width / 2;
      padding: 80px 40px;

      .font-text-small { font-family: $roboto; }

      a:hover:not(.btn) {
        color: color(orange);
      }

      .btn {
        margin-top: 40px;
        max-width: 260px;

        @include tablet { max-width: 400px; }
      }

      .space { padding-top: 20px; }

      @include tablet {
        max-width: 100%;
        padding: 50px 20px;
      }
    }
  }

  .map {
    background-color: color(gray);

    @include tablet { height: 500px; }
  }

  .agm-map-container-inner {
    filter: grayscale(100%);
  }

  agm-map {
    width: 100%;
    height: 100%;
  }
}
