<div class="col">
  <section>
      <div class="font-h2 main-header" translate="contact.header"></div>
      <ul>
        <li *ngFor="let contact of contacts">
          <p class="font-text-small" translate="{{ contact }}"></p>
        </li>
        <li class="font-text-small space">
          {{ 'contact.address.phone' | translate }}
          <a class="font-text-small" href="{{'contact.address.phoneLink1' | translate}}"
              translate="contact.address.phoneNumber1">
          </a>
        </li>
        <li class="font-text-small">
            {{ 'contact.address.phone' | translate }}
            <a class="font-text-small" href="{{'contact.address.phoneLink2' | translate}}"
               translate="contact.address.phoneNumber2">
            </a>
            <span translate="contact.address.accountancy"></span>
          </li>
      </ul>
      <a href="{{ 'base.mail' | translate }}" class="btn" translate="contact.writeToUs"></a>
  </section>
</div>
<div class="col map">
  <agm-map [latitude]="lat"
           [longitude]="lng"
           [zoom]="zoom"
           [fullscreenControl]="true"
           [scrollwheel]="false"
           [styles]="mapStyles"
           [draggable]="false"
           [panControl]="false"
           [streetViewControl]="false">
    <agm-marker [iconUrl]="'/assets/images/map-coursor.png'" [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
