@import '../../../../styles/lib';

:host {
  width: 100%;
  display: flex;
  border: 1px solid color(gray, 5);

  > a {
    @include flex(row, space-between, flex-start);

    @include tablet-small {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .news-img-box {
    flex: 0 0 33%;
    margin: 0;

    @include tablet-small {
      flex: 1 0 auto;
    }
  }

  .news-text-box {
    @include flex(column, center, flex-start);
    height: 100%;
    width: 100%;
    flex: 0 0 67%;
    padding: 20px;
    font-family: $roboto;
    background-color: color(white);

    @include tablet-small {
      flex: 1 0 auto;
      height: auto;
    }

    .news-date,
    .news-highlight { color: color(gray, 2); }

    .news-title {
      text-transform: uppercase;
      padding-bottom: 20px;
    }
  }

  &.small-news {
    .news-text-box {
      .news-title {
        font-size: make-rem(18px);
        padding-bottom: 0;
      }

      .news-highlight { display: none; }
      .news-date { font-size: make-rem(14px); }
    }
  }
}
