<a [routerLink]="'/news/' + path">
  <figure class="news-img-box">
    <img src="/assets/images/img_post.jpg" alt="">
   </figure>
   <div class="news-text-box">
     <p class="news-date">16kwietnia 2017/ CaseStudies</p>
     <p class="news-title font-h6">Nowa odsłona answear</p>
     <p class="news-highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
   </div>
</a>

