@import '../lib';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border: 1px solid color(orange);
  color: color(orange);
  font-size: 15px;
  font-family: $roboto;
  transition: all .3s ease 0s;

  &:hover {
    background-color: color(orange);
    color: color(white);
  }
}
