@import '../lib';

html {
  font-size: $root-font-size;
}

body {
  background: #fff;
  font-family: $root-font-family;
  color: color(black);
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
video,
object,
embed {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-header {
  display: block;
  padding-bottom: 30px;

  &::after {
    display: block;
    content: "";
    width: 40px;
    height: 2px;
    margin-top: 30px;
    background-color: color(orange);
  }
}

.bullet-list-item {
  padding: 4px 0 10px 20px;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    display: block;
    top: 11px;
    left: 0;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(/assets/images/star-bullet.png);
  }
}

.orange { color: color(orange) !important; }
