@font-face {
  font-family: 'bebas';
  src: url('/assets/fonts/bebasneue-bold-webfont.eot');
  src: url('/assets/fonts/bebasneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/bebasneue-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/bebasneue-bold-webfont.woff') format('woff'),
       url('/assets/fonts/bebasneue-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Bold-webfont.eot');
  src: url('/assets/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto-Bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/Roboto-Bold-webfont.woff') format('woff'),
       url('/assets/fonts/Roboto-Bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Light-webfont.eot');
  src: url('/assets/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto-Light-webfont.woff2') format('woff2'),
       url('/assets/fonts/Roboto-Light-webfont.woff') format('woff'),
       url('/assets/fonts/Roboto-Light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Medium-webfont.eot');
  src: url('/assets/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto-Medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/Roboto-Medium-webfont.woff') format('woff'),
       url('/assets/fonts/Roboto-Medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular-webfont.eot');
  src: url('/assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto-Regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('/assets/fonts/Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('/assets/fonts/Raleway-Bold-webfont.eot');
  src: url('/assets/fonts/Raleway-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Raleway-Bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/Raleway-Bold-webfont.woff') format('woff'),
       url('/assets/fonts/Raleway-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
