@import "../lib";

h1 {
  @include rwd-font-size(h1);
}

h2 {
  @include rwd-font-size(h2);
}

h3 {
  @include rwd-font-size(h3);
}

h4 {
  @include rwd-font-size(h4);
}

h5 {
  @include rwd-font-size(h5);
}

h6 {
  @include rwd-font-size(h6);
}

p, ul li {
  @include rwd-font-size(paragraph);
  color: inherit;
  margin: 0;
}

a {
  @include font(paragraph);
  color: inherit;
  text-decoration: none;
}

@each $font in $txt-typography-stack {
  .font-#{$font} {
    @include rwd-font-size($font);
  }
}
