<div class="main" [@routeAnimations]="getPage(appOutlet)">
  <router-outlet #appOutlet="outlet"></router-outlet>
</div>


<ng-container *ngIf="gtmTrackUrl">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe [src]="gtmTrackUrl"
            height="0"
            width="0"
            style="display:none;visibility:hidden">
    </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
</ng-container>
