<ma-items-view-box class="clients">
    <ma-client-box class="col small-news" [path]="'bigstar'"></ma-client-box>
    <ma-client-box class="col small-news" [path]="'qubus'"></ma-client-box>
    <ma-client-box class="col small-news" [path]="'bytom'"></ma-client-box>
    <ma-client-box class="col small-news" [path]="'darbut'"></ma-client-box>
</ma-items-view-box>
