@import '../../../../styles/lib';

$circle-size: 540px;

:host {
  @include flex-grid(1);
  flex-direction: column;
  align-items: center;
  margin: 80px auto 100px auto;

  @include tablet { margin: 50px 0; }

  > .col {
    max-width: $content-width;
    padding: 0 40px;

    @include tablet-small { padding: 0 20px; }

    p { font-family: $roboto; }

    .graph {
      padding: 100px 0;
      @include flex(row, center, center);
    }


    .circle {
      width: $circle-size;
      height: $circle-size;
      position: relative;
      background-image: url(/assets/offer/ring-bg.png);

      .icon {
        position: absolute;
        width: 77px;
        height: 77px;
        cursor: pointer;

        &:hover {
          p { color: color(orange); }
        }

        img {
          position: absolute;
          transition: $transition;
          transform: rotate(0deg);

          &:hover { transform: rotateY(180deg); }
        }

        p {
          width: 160px;
          text-align: center;
          position: relative;
          font-weight: bold;
          transition: color 0.3s ease-in-out;
        }

        @include styleIcons(2, 5) {
          p {
            top: 26px;
            left: 77px;
          }
        }

        @include styleIcons(6, 9) {
          p {
            top: 26px;
            left: -160px;
          }
        }

        @include styleIcons(4, 7) {
          img {
            &:hover { transform: rotate(90deg); }
          }
        }

        @include styleIcons(9, 9) {
          img {
            &:hover { transform: rotate(90deg); }
          }
        }
      }

      .icon-1 {
        top: -27px;
        left: 232px;

        p {
          left: -45px;
          top: -20px;
        }
      }

      .icon-2 {
        top: 24px;
        left: 396px;
      }

      .icon-3 {
        top: 183px;
        left: 486px;
      }

      .icon-4 {
        top: 354px;
        left: 456px;
      }

      .icon-5 {
        top: 469px;
        left: 320px;
      }

      .icon-6 {
        top: 469px;
        left: 144px;
      }

      .icon-7 {
        top: 354px;
        left: 10px;
      }

      .icon-8 {
        top: 183px;
        left: -24px;
      }

      .icon-9 {
        top: 24px;
        left: 76px;
      }

      .lean-management {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 398px;
        height: 398px;

        .hand {
          position: absolute;
          @include flex(column, flex-start, center);
          top: 0;
          left: 50%;
          cursor: pointer;
          transform: translate(-50%, -20%);

          p { font-weight: bold; }

          i {
            transition: $transition;
            transform: rotate(0deg);

            &:hover { transform: rotateY(180deg); }
          }
        }
      }

      .details {
        position: absolute;
        @include flex(column, center, center);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 76%;
        height: 76%;
        border-radius: 50%;
        background-color: color(orange);
        color: color(white);
        transition: $transition;

        p:first-child {
          text-transform: uppercase;
          font-weight: bold;
          padding-bottom: 10px;
        }

        &.grow {
          transform: translate(-50%, -50%) scale(1);
        }

        &.grow-small {
          transform: translate(-50%, -50%) scale(0.75);

          p { font-size: make-rem(20px); }
        }
      }
    }
  }


  .long-text-box {
    max-width: $content-width;
    @include flex-grid(3);

    .col {
      @include flex(column, flex-start, flex-start);

      padding: 70px 40px 40px 40px;

      @include tablet { padding: 40px 40px 0 40px; }

      @include phone {
        padding: 20px;
        align-items: center;
      }

      .header {
        font-family: $raleway;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 20px;

        @include tablet { font-size: make-rem(18px); }
      }

      .font-text-small {
        font-family: $roboto;
        color: color(gray, 2);

        @include phone { text-align: center; }
      }
    }

    @include tablet-small { @include flex-grid(2); }
    @include phone { @include flex-grid(1); }
  }
}
