<div class="col">
  <div class="headers">
      <span class="font-h2 main-header" translate="offer.header"></span>
      <p class="font-text-small" translate="offer.description"></p>
  </div>
  <div class="graph" *ngIf="!isTablet">
    <div class="circle">

      <div class="lean-management">
        <i [inlineSVG]="'/assets/offer/inner-ring.svg'"></i>
        <div class="hand"
            [scrollTo]="'#offer-10'"
            (mouseover)="showDetails(9)"
            (mouseleave)="hideDetails()">
            <i [inlineSVG]="'/assets/offer/ico-10.svg'"></i>
            <p class="font-text-small" translate="offer.lean"></p>
        </div>
      </div>

      <div class="icon"
          *ngFor="let offer of offersIcons; let index = index"
          [ngClass]="'icon-' + (index + 1)"
          (mouseover)="showDetails(index)"
          (mouseleave)="hideDetails()"
          [scrollTo]="'#offer-' + (index + 1)"
          [scrollOffset]="-120">
          <img [src]="offer.svg">
          <p class="font-text-small" translate="{{ offer.text }}"></p>
      </div>

      <div class="details" [ngClass]="{'grow': isBigDetail, 'grow-small': isSmallDetail }">
        <p class="font-text-small" *ngFor="let detail of details" translate="{{ detail }}"></p>
      </div>
    </div>
  </div>
</div>

<section class="long-text-box">
  <div class="col" *ngFor="let offer of offers; let i = index" id="{{'offer-' + (i + 1)}}">
    <img [src]="offer.svg" [alt]="offer.text" *ngIf="isTablet">
    <p class="header" translate="{{ offer.text }}"></p>
    <p class="font-text-small" translate="{{ offer.longText }}"></p>
  </div>
</section>
