@import '../../../../styles/lib';


:host {
  @include flex(column, flex-start, center);
  background-color: color(gray, 4);
  padding: 80px 0;

  @include laptop-small { padding: 50px 0; }

  > .solutions {
    max-width: $content-width;
    padding: 0 40px;

    @include laptop-small { padding: 0 20px; }

    .main-header { color: color(white); }


    section {
      @include flex-grid(2);

      @include laptop-small {
        @include flex(column, flex-start, center);

        .col { width: 100%; }
      }

      .text-box {
        padding-top: 30px;

        &.box-0 {
          padding-right: 40px;

          @include laptop-small { padding: 0; }

          ul { padding: 20px 0; }
        }

        &.box-1 {
          padding-left: 40px;

          @include laptop-small { padding: 0; }
        }
      }

      .header-box {
        width: 100%;

        > span { font-size: make-rem(46px); }
      }

      p {
        font-family: $roboto;
        color: color(white);
      }

      div,
      span {
        color: color(white);

        &.orange { color: color(orange); }
      }

      &.star-commerce,
      &.max-commerce {
        .text-box {
          @include laptop-small {
            > p {
              padding-top: 20px;
            }
          }
        }
      }

      &.fidelo-club {
        padding: 0 0 70px 0;

        @include laptop-small { padding: 0 0 50px 0; }

        .description { padding-top: 30px; }

        .bold {
          font-weight: bold;
          padding: 30px 0;
        }

        img {
          width: 320px;

          @include laptop-small {
            padding-top: 30px;
          }

          @include phone { width: 240px; }
        }

        .btn {
          width: 300px;
          margin-top: 30px;

          @include phone { width: 100%; }
        }

        .text-box { padding-top: 0 ; }
      }


      &.max-commerce {
        padding-top: 40px;

        .black {
          padding: 40px 40px 0 0;

          @include laptop-small { padding: 0 0 30px 0; }
        }

        .white {
          background-color: color(white);

          :not(.orange) {
            color: color(gray, 4);
          }

          .header-box {
            padding: 40px;
            border-bottom: 1px solid color(gray);

            @include laptop-small { padding: 20px; }
          }

          .text-box {
            padding: 0 40px 40px 40px;

            @include laptop-small { padding: 0 20px 20px 20px; }

            > span {
              display: block;
              font-size: make-rem(46px);
              padding-top: 40px;

              @include laptop-small { padding-top: 20px; }
            }

            p { padding-top: 10px; }
          }
        }
      }
    }
  }
}
