<div class="solutions">
    <div class="font-h2 main-header" translate="solutions.header"></div>

    <section class="fidelo-club">
      <div class="col text-box box-0">
        <div class="header-box">
          <span class="font-h2 orange" translate="solutions.fidelo.header1"></span>
          <span class="font-h2" translate="solutions.fidelo.header2"></span>
          <div class="font-h6" translate="solutions.fidelo.subtitle"></div>
        </div>
        <p class="font-text-small description" translate="solutions.fidelo.description"></p>
        <p class="font-text-small bold" translate="solutions.fidelo.whatIs"></p>
        <p class="font-text-small" translate="solutions.fidelo.whatIs.text"></p>
      </div>
      <div class="col text-box box-1">
        <img src="/assets/svg/logo.svg" alt="">
        <p class="font-text-small bold" translate="solutions.fidelo.howItWorks"></p>
        <ul>
          <li class="bullet-list-item"  *ngFor="let text of fidelo">
            <p class="font-text-small" translate="{{ text }}"></p>
          </li>
        </ul>
        <a href="https://fideloclub.io" target="_blank" class="btn" translate="solutions.fidelo.btn"></a>
      </div>
    </section>

    <section class="star-commerce">
      <div class="header-box">
        <span class="font-h2 orange" translate="solutions.header1"></span>
        <span class="font-h2" translate="solutions.header3"></span>
        <div class="font-h6" translate="solutions.starcommerce.subtitle"></div>
      </div>
      <div class="col text-box" *ngFor="let solution of solutions; let i = index" [ngClass]="'box-' + i">
        <p *ngIf="i === 0" class="font-text-small" translate="solutions.starcommerce.description"></p>
        <ul>
          <li class="bullet-list-item" *ngFor="let text of solution">
            <p class="font-text-small" translate="{{text}}"></p>
          </li>
        </ul>
      </div>
    </section>

    <section class="max-commerce">

      <div class="col black">
        <div class="header-box">
          <span class="font-h2 orange" translate="solutions.header2"></span>
          <span class="font-h2" translate="solutions.header3"></span>
          <div class="font-h6" translate="solutions.maxcommerce.subtitle"></div>
        </div>
        <div class="text-box box-0">
          <p class="font-text-small" translate="solutions.maxcommerce.description1"></p>
          <p class="font-text-small" translate="solutions.maxcommerce.description2"></p>
          <ul>
            <li class="bullet-list-item" *ngFor="let text of maxSolutions">
              <p class="font-text-small" translate="{{text}}"></p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col white">
        <div class="header-box">
          <span class="font-h2 orange" translate="solutions.header1"></span>
          <span class="font-h2" translate="solutions.header3"></span>
          <span class="font-h2"> / </span>
          <span class="font-h2 orange" translate="solutions.header2"></span>
          <span class="font-h2" translate="solutions.header3"></span>
          <div class="font-h6" translate="solutions.bothcommerce.subtitle"></div>
        </div>
        <div class="text-box">
          <span class="font-h2" translate="solutions.bothcommerce.subHeader1"></span>
          <p class="font-text-small" translate="solutions.bothcommerce.text1"></p>
          <span class="font-h2" translate="solutions.bothcommerce.subHeader2"></span>
          <p class="font-text-small" translate="solutions.bothcommerce.text2"></p>
        </div>
      </div>

    </section>
</div>

