@mixin flex-grid($columns, $padding: 0px) {
  width: calc(100% + #{$padding});
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: flex-start;
  margin-left: -$padding / 2;
  margin-right: -$padding / 2;

  > .col {
    width: calc((100% / #{$columns}) - #{$padding});
    margin: 0 $padding / 2;
    margin-bottom: $padding;
  }
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin styleIcons($start, $end) {
  @for $i from $start through $end {
   &.icon-#{$i} {
     @content;
   }
  }
}

@mixin grid() {
  width: 100%;
  display: grid;
  grid-template-columns: [start] $desktop-gap [container] minmax(0, 1fr) $desktop-gap [end];

  > .wide-container { grid-column: start/end; }

  > .container { grid-column: container; }

  @include tablet {
    grid-template-columns: [start] $mobile-gap [container] minmax(0, 1fr) $mobile-gap [end];
  }
}
