$root-font-size: 16px;
$root-font-family: 'bebas', sans-serif;

$font-weight: (
  light: 300,
  regular: 400,
  bold: 700,
  black: 900
);

$colors-stack: (
	black:  (#000000, #000000),
  white:  (#ffffff),
  orange: (#fd762c),
  gray: (#b5bec1, #787878, #3a3a3a, #151515, #f1f1f1)
);

$breakpoints: (
  desktop-devices: 1540px,
  laptop-devices: 1366px,
  laptop-small-devices: 1200px,
  tablet-devices: 1024px,
  tablet-small-devices: 768px,
  phone-devices: 500px,
  phone-small-devices: 320px
);


$max-banner-size: map-get($breakpoints, laptop-small-devices);

$typography-default-stack: (
//name: (           size,   weight,   line-height,  color: inherit,  tone: 1,    letterspacing: 0, text-transform: none)
  h1: (             110,    black,    110,          inherit,          1,         10,               none),
  h2: (             60,     black,    60,           inherit,          1,         10,               none),
  h3: (             50,     black,    50,           inherit,          1,         10,               none),
  h4: (             30,     light,    60,           inherit,          1,         10,               none),
  h5: (             18,     black,    40,           inherit,          1,         10,               none),
  h6: (             20,     bold,    24,           inherit,          1,         10,              none),
  paragraph: (      18,     regular,  24,           inherit,          1,         10,               none),
  text-small: (     16,     regular,  24,           inherit,          1,         0,               none),
  text-very-small: (14,     regular,  14,           inherit,          1,         10,               none)
);

$typography-tablet-stack: (
//name: (           size,   weight,   line-height,  color: inherit,  tone: 1,    letterspacing: 0, text-transform: none)
  h1: (             75,    black,    105,          inherit,          1,         1,               none),
  h2: (             50,     black,    50,           inherit,          1,         1,               none),
  h3: (             32,     black,    60,           inherit,          1,         1,               none),
  h4: (             30,     light,    60,           inherit,          1,         1,               none),
  h5: (             18,     black,    40,           inherit,          1,         1,               none),
  h6: (             20,     bold,    24,           inherit,          1,         1,              none),
  paragraph: (      16,     regular,  22,           inherit,          1,         1,               none),
  text-small: (     16,     regular,  20,           inherit,          1,         1,               none),
  text-very-small: (12,     regular,  14,           inherit,          1,         1,               none)
);

$txt-typography-stack: (h1, h1, h2, h3, h4, h5, h6, paragraph, text-small, text-very-small);

$rwd-typography: (
  default: $typography-default-stack,
  tablet-devices: $typography-tablet-stack
);

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;


$transition: transform 0.3s ease 0s;

$content-width: 1320px;

$z-index-areas: (
  workspace: 1,
  workspace-cover: 5,
  navbar: 50,
  overlay: 99,
  modal: 100,
  toast: 150,
  fullscreen: 200,
  topLayer: 99999,
);

$desktop-gap: 8vw;
$mobile-gap: 20px;

$banner-height: 530px;
$banner-rwd-height: 280px;
