<section>
  <div class="col">
    <div class="font-h2 main-header" translate="career.header"></div>
    <p class="font-text-small" translate="career.description"></p>
    <ul>
      <li class="bullet-list-item" *ngFor="let career of careers">
        <p class="font-text-small" translate="{{ career }}"></p>
      </li>
    </ul>
    <a href="{{ 'base.mail.hr' | translate }}" class="btn" translate="career.sendBtn"></a>
  </div>
  <div class="col">
    <div class="career-hero"></div>
  </div>
</section>

