@import '../../../../styles/lib';

:host {
  background-color: color(white);
  @include flex(row, center, flex-start);
  margin: 80px auto 0 auto;

  @include tablet { margin: 50px 0; }

  > section {
    padding: 0 40px 50px 40px;
    @include flex-grid(2);
    width: $content-width;
    overflow: hidden;

    @include tablet { padding: 0 40px 0 40px; }

    @include tablet-small { padding: 0 20px 0 20px; }

    .col {
      position: relative;

      .font-text-small { font-family: $roboto; }

      ul {
        padding: 20px 0;
      }

      .btn {
        max-width: 260px;

        @include tablet { max-width: 400px; }
      }

      .career-hero {
        position: absolute;
        width: 650px;
        height: 650px;
        right: 0;
        bottom: -50px;
        background-size: 95%;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-image: url(/assets/images/actor-02.png);
        transition: $transition;

        @media (max-width: $content-width) {
          transform: translateX(17%);
        }
      }

      @include tablet {
        &:nth-of-type(1) { width: 100%; }

        &:nth-of-type(2) { display: none; }
      }
    }
  }
}
