@import '../../../../styles/lib';

:host {
  width: $max-banner-size;
  height: 650px;
  @include flex-grid(2);
  background-color: color(white);
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  overflow: hidden;

  .text-box {
    @include flex(column, flex-end, flex-end);
    position: absolute;
    height: 100%;
    max-width: 93%;
    padding-bottom: 50px;
    padding-right: 20px;
    will-change: transform;
    transition: $transition;
    z-index: 1;

    .padding-box {
      width: 100%;
      max-width: 600px;
    }

    @include tablet { position: static; }
  }

  .col:first-of-type {
    position: relative;
    @include flex(column, center, flex-end);

    @include laptop { width: 55%; }

    @include tablet {
      width: 100%;
      align-items: center;

      .text-box {
        padding: 0;
        align-items: center;
        justify-content: center;

        .padding-box {
          text-align: center;
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: color(gray);
    border: none;
    margin: 15px 0;
  }

  p {
    font-family: $roboto;
    color: color(gray, 2);

    span {
      display: block;
      margin-top: 1rem;
    }
  }

  .orange {
    color: color(orange);
    position: relative;
    top: -10px;
  }

  .font-h1,
  .font-h3 {
    text-transform: uppercase;
    display: block;
  }

  .col:nth-of-type(2) {
    position: relative;

    .bg {
      position: absolute;
      right: -400px;
      width: 100%;
      height: 100%;
      background: color(gray, 4);
      will-change: transform;
      transform: skewX(-50deg);
      transition: $transition;
    }

    .actor {
      position: absolute;
      right: 10%;
      bottom: 0;
      width: 682px;
      height: 597px;
      background-position: bottom center;
      background-size: 95%;
      will-change: transform;
      background-repeat: no-repeat;
      background-image: url(/assets/images/actor-01.png);
      transition: $transition;
    }

    @include laptop {
      width: 35%;

      .actor {
        transform: translateX(20%);
      }
    }

    @include tablet { display: none; }
  }

  &:hover {
    background-color: color(gray, 4);
    .text-box {
      color: white;
      transform: translateY(-40px);

      p { color: white; }

      .line { background-color: color(gray, 3); }
    }

    ma-simple-swiper {
      &::ng-deep svg {
        path {
          fill: color(white);
        }
      }
    }

    .col {
      .actor {
        transform: translateX(-50px);

        @include laptop { transform: translateX(0); }
      }

      .bg {
        background: color(orange);
        transform: skewX(-50deg) translateX(10%);
      }
    }
  }

  @include tablet {
    background-color: color(gray, 4);
    height: auto;
    padding: 40px 0;

    .text-box {
      color: white;

      p { color: white; }

      .line { background-color: color(gray, 3); }
    }

    ma-simple-swiper {
      &::ng-deep {
        .nav-box {
          justify-content: center;

          svg {
            path { fill: color(white); }
          }
        }
      }
    }

    &:hover {
      .text-box {
        transition: none;
        transform: none;
      }
    }
  }

  @include tablet-small {
    .font-h1 { font-size: make-rem(64px); }

    .font-h3 {
      top: -5px;
      font-size: make-rem(26px);
      padding: 10px 0;
    }

    .line { margin: 0; }

    ma-simple-swiper::ng-deep {
      p { font-size: make-rem(14px); }

      .slider { padding-bottom: 20px; }
    }
  }
}
