<div class="col">
  <div class="text-box">
    <div class="padding-box">
        <span class="font-h1" translate="banner.header"></span>
        <span class="font-h3 orange" translate="banner.subtitle"></span>
    </div>
    <div class="line"></div>
    <div class="padding-box">
      <span class="font-h3" translate="banner.whyWithUs"></span>

      <ma-simple-swiper>
        <div class="main-banner-list"
            *ngFor="let texts of bannerText"
            #sliderItem
            slider-item>

            <p *ngFor="let text of texts" translate="{{ text }}"></p>
        </div>
      </ma-simple-swiper>

    </div>
  </div>
</div>

<div class="col">
  <div class="bg"></div>
  <div class="actor"></div>
</div>
