@import '../../../../styles/lib';

:host {
  position: fixed;
  top: 0;
  right: 0;
  @include flex(row, flex-end, flex-start);
  height: auto;
  min-height: 100vh;
  width: 100%;
  background-color: tansparent;
  z-index: z-index(modal);

  .mobile-nav {
    position: relative;
    @include flex(column, flex-start, center);
    background-color: color(white);
    padding: 50px 0;
    width: 50%;
    height: auto;
    min-height: 100vh;
    z-index: z-index(modal);

     @include phone { width: 100%; }
  }

  li {
    padding: 14px 0;
    text-align: center;
  }

  a {
    font-family: $roboto;
    text-transform: uppercase;
    font-size: make-rem(16px);
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-image: url(/assets/images/icon-burger.png);
    background-size: 60px 60px;
    background-position: bottom left;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 30px;
    height: 30px;

  }

}
