<section class="mobile-nav">
  <ul>
    <li><a routerLink="/about" class="nav-link" translate="about.header"></a></li>
    <li><a routerLink="/news" class="nav-link" translate="news.header"></a></li>
    <li><a routerLink="/clients" class="nav-link" translate="clients.header"></a></li>
    <li><a routerLink="/offer" class="nav-link" translate="offer.header"></a></li>
    <li><a routerLink="/solutions" class="nav-link" translate="solutions.header"></a></li>
    <li><a routerLink="/career" class="nav-link" translate="career.header"></a></li>
    <li><a routerLink="/contact" class="nav-link" translate="contact.header"></a></li>
    <li class="end-line"></li>
  </ul>
  <div class="close-btn" (click)="onClose()"></div>
</section>
